

.btn {
    background: red;
    color: white;
}

.btn-2 {
    /*background-color: blue;*/
}

.bg-dark {
    background-color: #333;
    color: white;
}

.error {
    background-color: red;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}